# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Git
.gitignore

#Albi
.vscode*
build*/
bin/
try_albi/
cmake/
source - Copy/
source_original/
output/
input/
old/
*.csv
*.fluxes
*.log
utils*/
citations/
Model/
outputlastrun.txt
outputverbose.txt
z_config_analysis/
html/
latex/
screen_logs/
vcpkg/
*Class2
#sysconfig/
vars/data/
vars/carto/bologna_mdt.pnt
vars/carto/bologna_mdt.pro
python/work_mdt/__pycache__/*
python/work_mdt/cache/*
*_build_release
bologna_mdt/*
*bologna_mdt_detailed
*bologna_mdt_detailed_old_config
CMakeCache.txt
CMakeFiles/
*Class2
