# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Git
.gitignore

#Albi
.vscode*
build*/
bin/
try_albi/
cmake/
source - Copy/
source_original/
output/
input/
old/
*.csv
*.fluxes
*.log
utils*/
citations/
Model/
outputlastrun.txt
z_config_analysis/
html/
latex/